*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.navbar{
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #191919;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    z-index: 10;
}

.logo{
    font-family: 'Kalam', cursive;
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
    margin-left: 20px;
}
.nav-list{
    user-select: none;
    list-style: none;
    display: flex;
    justify-content:space-between;
    margin: 10px 20px;
    padding: 10px 0;
    font-size:1.2em;
    font-family: 'Kalam', cursive;
    color:#ffffff
}
.nav-list li{
    margin: 0 15px;
}
.nav-list a:hover{
    padding: 10px 0 ;
    border-bottom: 3px solid #180c00  ;
}
.nav-list a{
   text-decoration: none;
   color:#ffffff ;
}
.home-page{
    margin-top: 50px;
    height: 95vh;
    background-image: url('./Rectangle\ 1.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-section{
 text-align: center;
}

.profil{
    width: 30%;
    border-radius: 20px;
    box-shadow: #191919 -80px 10px 1px
 ;
}
.about-info{
    margin: 20px auto;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    width: 90%;
}
.about-info h3{
    font-size: 2em;
    text-transform: capitalize;
}

 h1{
    font-size: 3rem;
    padding: 20px;
}

.about-info p{
    width: 410px;
    font-weight: 300;
    margin: 5px 20px;
    text-align: left;
    word-break: break-all;
    font-family: 'Cormorant Garamond';
    color: #00000099;
}
.services{
    background:#E5E8F1;
    text-align: center;
}
.btn{
    display: none;
}

.services-content{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  
}
.card{
    width:330px;
    padding: 10px;
    
}
.card img{
    width: 100%;
    height:250px;
}
.card p{
    padding: 5px;
    text-align: center;
    word-break: break-all;
    font-family:serif;
    font-size: 1em;
}
h1{
    font-family: 'Kalam', cursive;
    font-size: 2rem;
    width: 100%;
    text-align: center;
}
 .headerh1{
    font-family: 'Kalam', cursive;
    font-size: 2rem;
    background: #000 url('../public/images/works6.jpg') no-repeat fixed;
    background-size: cover;
    width: 100%;
    padding: 100px;
    text-align: center;
    color: #fff;
}
.works{
    display: flex;
    background-color: #000;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.workcontainer{
    background: #0c0c0c;
    background: url('../public/images/wall.jpg');
    background-size: cover;
}

.works-cardRow{
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px ;
}
.works-cardColumn{
    flex: 25%;
    max-width: 25%;
    padding: 0  ;
}
.works-cardColumn img{
   margin-top: 20px;
   vertical-align: middle;
   width: 90%;
}
.works-cardColumn img:hover{
    transform: scale(0.8);
}

#contact{
    display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   padding: 20px; 
}

.form{ 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:10px;
}
.form section{
    width: 45%;
    padding:10px
}
.form-section{
    text-align: center;
}
.form-shadow{
    box-shadow: inset 5px 5px 5px #00000020, inset -5px -5px 5px #00000020;

}
input{
    width: 100%;
    border: none;
    border-bottom: 2px #0c0c0c solid;
    padding: 10px;
    outline:none;
}

textarea{
    padding: 10px;
    width: 100%;
    resize: vertical;
}
.contactBtn{
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    background: #180c00;
    color:#E5E8F1;
    margin-bottom: 10px;
    
}
.location{
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 300px;
    align-items: center;
    border: none;
    box-shadow: inset 5px 5px 5px #00000020, inset -5px -5px 5px #00000020;
}
.location ul{
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap; 
}

.location li{
width: 100%;
display: flex;
justify-content:space-evenly;
align-items: center;
padding: 10px;
}
span{
    width: 150px;
}

.list-icon{
    border: 1px solid #19191950;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.foot{
    background: #0c0c0c;
    text-align: center;
    padding: 40px;
}
.foot p{
    color: #ffffff50;
    width: 300px;
    margin: 5px  auto 10px;
}
.foot a{
    margin: 10px;
    padding: 5px;
    color: #ffffff50;
}



/* mobile styling  */
@media screen and (max-width:1010px) {
    .about-info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-info div{
        margin: 10px;
    }
    .works-cardColumn{
        flex: 50%;
        max-width: 50%;
        padding: 0  ;
    }
    .works-cardColumn img{
       margin-top: 20px;
       vertical-align: middle;
       width: 90%;
    }
 
}
@media screen and (max-width:780px) {
    /* .works-cardColumn{
        flex: 50%;
        max-width: 50%;
        padding: 0  ;
    }
    .works-cardColumn img{
       margin-top: 20px;
       vertical-align: middle;
       width: 90%;
    } */
 
   .logo{
    display: none;
   }
    .btn{
    background: none;
    border: none;
    color: white;
    display:inline-block;
    float:left;
    margin: 10px;
   
  
    }
    .navbar{
        background: none;
    }
    .nav-list{
        display: none;
    }
    .sideBarList{
    user-select: none;
    list-style: none;
    display: block;
    margin: 20px 0;
    padding: 10px;
    font-size:1.2em;
    font-family: 'Kalam', cursive;
    color:#ffffff;
    }
    .sideBarList li{
        margin: 20px 10px;
        padding:10px
    }
    .sidebar{
        position: fixed; 
        top: 0;
        left: 0;
        background: #191919;
        height: 100vh;
        position: fixed;
        top: 0;
        z-index: 10;
    }
    
    .home-page {
        margin-top: 0;
        height: 50vh;
    }

    .about-info{
        display: flex;
        flex-direction: column;
    }
    .profil{
        width: 300px;
        height: 300px;
    }

}

@media screen and (max-width:440px) {
   .about-me{
    width: 350px;
    height: 600px;
   }
   .about-me p{
    width: 300px;
   }
   .profil{
    width: 300px;
    box-shadow: none;
   }
    .works-cardColumn{
        flex: 100%;
        max-width: 100%;
        padding: 0  ;
    }
    .works-cardColumn img{
       margin-top: 20px;
       vertical-align: middle;
       width: 90%;
    }
  
    .card{
        width:250px;
        padding: 10px;
        
    }

}